textarea {
	resize: none;
}
/* Colori */
.beige{
	background-color: rgb(244, 244, 237);
}

.titleColor{
	color: rgb(244, 244, 237);
}

.sectionColor {
	background-color: rgb(0, 0, 0);
	border-radius: 0px 0px 50px 50px;
}

.footerColor {
	background-color: rgb(244, 244, 237);
}

/* Body */
.bodyCustom {
	background-color: #000000;
	position: relative;
}

/* Navbar */
.navbarCustom {
	width: 100%;
	min-height: 125px;
	text-decoration-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.navBg{
	background-color: rgba(255, 255, 255, 0.508);
	backdrop-filter: blur(5px);
	border-radius: 0px 0px 50px 50px;
}
.navBgLogin{
	background-color: rgba(255, 255, 255, 0.508);
	backdrop-filter: blur(5px);
	border-radius: 0px 0px 50px 50px;
	width: 100%;
	min-height: 125px;
	text-decoration-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.nav-lg {
	display: flex;
	justify-content: center;

	@media screen and (max-width: 1024px) {
		display: flex;
		justify-content: start;
	}
}

/* header */
header {
	margin-top: 10px;
	border-radius: 50px 50px 50px 50px;
}

.custom {
	height: 75vh;
}

.container-custom {
	background-color: rgb(244, 244, 237);
	border-radius: 50px 50px 50px 50px;
}
/* GrandezzaImg */
.imgCustom{
	height: 500px;
	
	
}

/* .bg-img {

	background-image: url(../../public/storage/images/labrador.jpg);
	background-repeat: no-repeat;
	


	@media screen and (max-width: 1024px) {
		background-repeat: repeat;
		background-image: url(../../public/storage/images/Progetto_senza_titolo.png);

	}
} */

/* Altezza navabar */
.hNav{
	margin-top: 140px;
}

.patua-one-regular {
	font-family: "Patua One", serif;
	font-weight: 400;
	font-style: normal;
}

.titolo {
	font-family: "Anton", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 100px;
}

.alt {
	height: 20px;
}
/* bottone Register */
.colorRegister{
	background-color: rgb(158, 147, 195);
}
/* Bottone welcome */
.btn-wel {
	font-family: var(--font-sans);
	font-weight: var(--font-weight-6);
	font-size: var(--font-size-5);
	color: var(--gray-8);
	background:  rgb(0, 0, 0);
	border: 0;
	padding: var(--size-4) var(--size-8);
	transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
	transition: transform 0.1s;
	position: relative;
	text-decoration: none;
}

.btn-wel:hover {
	--y: -10;
	--scale: 1.1;
	--border-scale: 1;
}

.btn-wel:active {
	--y: 5%;
	--scale: 0.9;
	--border-scale: 0.9, 0.8;
}

.btn-wel:before {
	content: "";
	position: absolute;
	inset: calc(var(--size-3) * -1);
	border: var(--size-2) solid rgb(255, 191, 0);
	transform: scale(var(--border-scale, 0));
	transition: transform 0.125s;


	--angle-one: 105deg;
	--angle-two: 290deg;
	--spread-one: 30deg;
	--spread-two: 40deg;
	--start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
	--start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
	--end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
	--end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));

	mask: conic-gradient(transparent 0 var(--start-one),
			#728E17 var(--start-one) var(--end-one),
			transparent var(--end-one) var(--start-two),
			#728E17 var(--start-two) var(--end-two),
			transparent var(--end-two));

	z-index: -1;
}


.div-cu {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 370px;
	min-width: 300px;
	height: 500px;
	border-radius: 10px;
	box-shadow:
		0 1px 3px rgba(0, 0, 0, 0.12),
		0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	overflow: hidden;

	&:hover {
		box-shadow:
			0 14px 28px rgba(0, 0, 0, 0.25),
			0 10px 10px rgba(0, 0, 0, 0.22);

		h5 {
			opacity: 0;
			transform: scale(0.7);
		}

		img {
			transform: scale(1.25);
		}

		figcaption {
			bottom: 0;
		}
	}

	h5 {
		position: absolute;
		top: 50px;
		left: 20px;
		margin: 0;
		padding: 0;
		color: white;
		font-size: 40px;
		font-weight: 100;
		line-height: 1;
		opacity: 1;
		transform: scale(1);
		transition: 0.25s ease;
		z-index: 999;
		backdrop-filter: blur(10px);
		background-color:rgba(255, 255, 255, 0.09);
		
	}

	img {
		height: 100%;
		transition: 0.25s;
	}

	figcaption {
		position: absolute;
		bottom: -50%;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 30px;
		background-color: rgba(0, 0, 0, 0.85) !important;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) !important;
		color: white;
		line-height: 1;
		transition: 0.25s;

		.h3-1 {
			margin: 0 0 20px;
			padding: 0;
		}

		p {
			font-size: 14px;
			line-height: 1.75;
		}

		.btn-card {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 10px 0 0;
			padding: 10px 30px;
			border: none;
			border-radius: 5px;
			color: white;
			font-size: 14px;
			cursor: pointer;
		}
	}
}

.row-log {
	margin-top: 10px;
}

.btn-form {
	background-color: #E1B9F4;
	
}

.page-link {
	color: #728E17 !important;
}

.page-link.active,
.active>.page-link {
	background-color: #728E17 !important;
	border-color: rgb(245, 245, 144) !important;
	color: white !important;
}

/* barra ricerca */
.search-input-wrapper {
	position: relative;
}

.search-input {
	font-size: 14px;
	padding-right: 30px;
	font-style: italic;
}

.search-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: all;
	cursor: pointer;
}

/* note style */
.quote-container {

	position: relative;
}

.note {
	color: #333;
	position: relative;
	width: 400px;
	min-height: 300px;
	margin: 0 auto;
	padding: 20px;
	font-family: Satisfy;
	font-size: 25px;
	box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.note .author {
	display: block;
	margin: 40px 0 0 0;
	text-align: right;
}

.yellow {
	background: rgb(255, 191, 0);
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}

.pin {
	background-color: #aaa;
	display: block;
	height: 32px;
	width: 2px;
	position: absolute;
	left: 50%;
	top: -16px;
	z-index: 1;
}

.pin:after {
	background-color: #728E17;
	background-image: radial-gradient(25% 25%, circle, hsla(0, 0%, 100%, .3), hsla(0, 0%, 0%, .3));
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .1), inset 3px 3px 3px hsla(0, 0%, 100%, .2), inset -3px -3px 3px hsla(0, 0%, 0%, .2), 23px 20px 3px hsla(0, 0%, 0%, .15);
	content: '';
	height: 12px;
	left: -5px;
	position: absolute;
	top: -10px;
	width: 12px;
}

.pin:before {
	background-color: hsla(0, 0%, 0%, 0.1);
	box-shadow: 0 0 .25em hsla(0, 0%, 0%, .1);
	content: '';

	height: 24px;
	width: 2px;
	left: 0;
	position: absolute;
	top: 8px;

	transform: rotate(57.5deg);
	-moz-transform: rotate(57.5deg);
	-webkit-transform: rotate(57.5deg);
	-o-transform: rotate(57.5deg);
	-ms-transform: rotate(57.5deg);

	transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
}

.material-symbols-outlined {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.img-preview {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 120px;
	width: 120px;
}

.img-custom {
	height: 400px;
	width: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.height-log {
	height: 43rem;
}
